[submodule "extern/rhino-mocks"]
	path = extern/rhino-mocks
	url = git://github.com/ayende/rhino-mocks.git
[submodule "extern/machine.specifications"]
	path = extern/machine.specifications
	url = git://github.com/machine/machine.specifications.git
